In [19]:
import pandas as pd, numpy as np, scipy as sp
FG2019 = pd.read_csv('Shot Data - CSV/Shot Data - 2018-2019.csv')
FG2019.describe()

,Unnamed: 0,LESS THAN 8FT.,Unnamed: 2,Unnamed: 3,8-16 FT.,Unnamed: 5,Unnamed: 6,16-24 FT.,Unnamed: 8,Unnamed: 9,24+ FT.,Unnamed: 11,Unnamed: 12
count,31,31,31,31,31,31,31,31,31,31,31,31,31
unique,31,30,30,24,30,31,27,31,30,27,30,30,23
top,Cleveland Cavaliers,1834,3081,54.4,285,859,43.7,173,737,38.7,992,2820,35.2
freq,1,2,2,3,2,1,2,1,2,2,2,2,4